.header {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  width: 60px;
  height: 60px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav__item:hover,
.nav__item:active {
  color: var(--c-secondary);
}

.nav__item_counter {
  padding: 0 10px;
  color: #000;
  border: 1px solid var(--c-secondary);
  border-radius: 50%;
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
}

@media (max-width: 390px) {
  .nav {
    gap: 10px;
  }
}