.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.loading {
  display: flex; 
  align-items: center;
  justify-content: center;
  padding-block: 20px;
  font-size: 24px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}