.search {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.search__wrapper {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.search__input {
  flex-grow: 1;
  padding: 15px 30px 15px 50px;
  background-color: var(--c-primary);
  border: none;
  border-radius: 5px;
}

.search__input::placeholder {
  color: #777;
}

.search__icon {
  position: absolute;
  top: 13px;
  left: 10px;
}

.search__btn {
  padding-inline: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}